<div>
    <audio src="{{ filename }}">
        <p>Your browser does not support the audio element.</p>
    </audio>
    <div>
        <span class="time">-:-- / -:--</span>
        <span class="volumelevel">Volume : --%</span>
    </div>
    <div>
        <button class="btn play" disabled="disabled">Play</button>
        <button class="btn pause" disabled="disabled">Pause</button>
        <button class="btn stop" disabled="disabled">Stop</button>
        <button class="btn volume louder" disabled="disabled">Volume +</button>
        <button class="btn volume softer" disabled="disabled">Volume -</button>  
    </div>  
</div>